@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');

#root {
  font-family: 'Roboto Slab', serif;
}

img {
  width: 100%;
  height: auto;
  display: flex;
  justify-self: center;
}
