@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');

html {
  background-color: slategrey;
}

#root {
  font-family: 'Roboto Slab', serif;
  background-color: slategrey;
  width: auto;
  flex-direction: column;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

  /* fontsize */
}
.width {
  width: 90%;
}
.body {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding-bottom: 2em;
  width: 90%;
  padding-top: 1.5em;
  background-color: antiquewhite;
}

img {
  width: 100%;
  height: auto;
  display: flex;
  justify-self: center;
  border-radius: 2em;
  width: 95%;
}

.spacing {
  width: 95%;
}



@media only screen and (min-width: 1800) {
  body {
    font-size: 150%;
  }

}
