.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  background-color: slategrey;
  color: antiquewhite;
}
.double {
  display:flex;
  justify-content: space-evenly;
  width: 125%
}
.email-column {
  display: flex;
  flex-direction: column;
}
.space-bottom {
  padding-bottom: 1em;
}
.a-link {
  text-decoration: none;
  color: antiquewhite;
}