.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: slategrey;
  color: antiquewhite;
  width: 100%;
}
.footer-info {
  width: 80%;
  display: flex;
  justify-content: space-evenly;

}
.email-column {
  display: flex;
  flex-direction: column;
}
.space-bottom {
  padding-bottom: 1em;
}
.a-link {
  text-decoration: none;
  color: antiquewhite;
}
@media screen and (max-width: 650px) {
  .footer-info {
    display: flex;
    flex-direction: column;
    padding-left: 40%;
  }
  .email-column {
    padding-bottom: 1em;
  }
}